/* COLORS */
    /* IRIS, Primary Brand (CTAs Focused Active states Links) #4D5AE5*/
    /* Navy blue, Dark,(Overlays Shadows Headings) #2E2F42*/
    /* GREEN, Success (Valid fields Success messages) #31D0AA */
    /* SLATE, Text (Body text) #434455 */
    /* LIGHT SLATE, Subtle Text (Helper text Deemphasized text) #8E8F99*/
    /* cornflower, Accent (Accent color Hairlines Subtle backgrounds) #E7E9FC*/
    /* CLOUD, Light (Light mode backgrounds Light mode Dialogs/alerts) F4F4FD */
    /* body color #434455 */

    
    
    /* root colors  */
    :root {
    --irish: #4D5AE5; --navyblue: #2E2F42; --success: #31D0AA; 
    --slate: #434455; --lightsate: #8E8F99; --cornflower: #E7E9FC;
    --clode: #F4F4FD; --body: #434455; --body-bg-color: #ffffff; 
    --button-hero-tc: #ffffff; --button-hero-active: #404BBF;
}

/* toot font size */

/* fonts */
/* Primary-font "Roboto";, secondary-font - "Raleway" */
:root {
    --Primary-font: "Roboto";
    --secondary-font: "Raleway";
}

.hero-text {
    color: var(--body-bg-color);
    font-weight: 600;
    line-height: 1.1;
}

.titles {
    color: var(---navyblue);
    font-weight: 600;
    line-height: 1.1;
}

.invisible-text {
    display: none;
}

.list {
    list-style: none;
}

.primary-style {
    font-family: "Roboto", sans-serif;
    background-color: var(--body-bg-color);
    color: var(--body);   
}

.logo-web {
    font-family: "Raleway", sans-serif;
    color: var(--irish);
        font-weight: 800;
        line-height: 1.3;
}

.logo-studio {
    color: var(--navyblue);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.3;
}

.logo-studio-end-page {
    color: var(--button-hero-tc);
    font-family: "Raleway", sans-serif;
}


.hero-order {
    background-color: var(--irish);
    color: var(--button-hero-tc);
    font-weight: 600;
        line-height: 1.2;
        cursor: pointer;
}
.hero-order:hover,
.hero-order:focus
{
    background-color: var(--irish);
        color: var(--button-hero-tc);
}

.hero-order:active {
    background-color: var(--button-hero-active);
}

.navigation-style {
    color: var(--navyblue);
    background-color: ;
    font: var(--Primary-fon), sans-serif;
        font-weight: 600;
        line-height: 1.5;
}

.navigation-style .transition {
color: var(--navyblue);
}

.navigation-style .transition:hover,
.navigation-style .transition:focus
{ color: var(--slate);
}

.navigation-style .transition:active {
    color: var(--irish);
}

.contacts {
    color: var(--slate);
        line-height: 1.5;
}

.contacts:hover,
.contacts:focus
{ color: var(--irish);
}

.advantages {
    color: var(---navyblue);
    font-weight: 600;
        line-height: 1.2;
}

.advantages-text{
    color: var(--slate);
    line-height: 1.5;
}

.job-profile {
    color: var(--navyblue);
    font-weight: 600;
        line-height: 1.1;
}

.teem-workers {
        color: var(--navyblue);
        font-weight: 600;
        line-height: 1.1;
}

.workers {
    color: var(--navyblue);
    font-weight: 600;
        line-height: 1.1;
}

.position-workers {
    color: var(--slate);
        line-height: 1.5;
}

.filter {
    color: var(--irish);
    background-color: var(--clode);
    font-weight: 600;
        line-height: 1.5;

}

.filter:hover,
.filter:focus {
    background-color: var(--irish);
    color: var(--button-hero-tc);
}


.portfolio-name {
    color: var(--navyblue);
    font-weight: 600;
        line-height: 1.2;
}

.portfolio-comment {
    color: var(--slate);
    line-height: 1.5;
}

.end-page {
    background-color: var(--navyblue);
}

.end-page-text {
    color: var(--cornflower);
    line-height: 1.5;
}
